@import "tailwindcss";

@theme {
  --color-brand: #ff5500;
  --color-dark: #0b1221;
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

@layer base {
  button,
  a,
  .card {
    @apply transition-all duration-200;
  }
}
